.template-home-page-container {
  overflow: hidden;

  .hero-section {
    position: relative;
    height: 100vh;
    background-color: $grey-blue;
    display: flex;
    //align-items: center;
    justify-content: center;

    .swiper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      .image-holder {
        position: relative;
        width: 100%;
        height: 100%;

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba(#000, 0.25);
          position: absolute;
          top: 0;
          left: 0;
        }

        img {
          @include cropped-img();
        }
      }
    }

    h1 {
      @include title-2();
      text-align: center;
      position: relative;
      z-index: 1;
      padding-top: max(px-to-vw(263), 250px);

      @media #{$tablet-s} {
        width: px-to-vw(1362);
      }
    }

    .banner-holder {
      position: absolute;
      bottom: max(px-to-vw(34), 29px);
      left: 0;
      z-index: 2;

      .banner {
        @include transition();
        background-color: #fff;
        padding: max(px-to-vw(34), 20px) max(px-to-vw(20), 13px)
          max(px-to-vw(34), 20px) max(px-to-vw(24), 22px);
        box-sizing: border-box;
        border-radius: max(px-to-vw(15), 10px);
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @media #{$laptop-s} {
          flex-wrap: nowrap;
        }

        &:hover {
          background-color: $yellow;

          .swiper-btn {
            background-color: #fff;

            svg {
              path,
              line {
                stroke: $grey-blue;
              }
            }
          }
        }

        p {
          @include small-editor-styles();
          @include text-2();
          width: 100%;

          @media #{$laptop-s} {
            width: auto;
          }

          &.banner-title {
            font-family: $font-medium;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            @media #{$laptop-s} {
              margin-bottom: 0;
              margin-right: px-to-vw(10);
            }
          }
        }

        .swiper-btn {
          margin-left: auto;
          flex-shrink: 0;

          &.mobile {
            @media #{$laptop-s} {
              display: none;
            }
          }

          &.desktop {
            display: none;

            @media #{$laptop-s} {
              display: flex;
            }
          }
        }
      }
    }
  }

  .image-with-description-section {
    padding: 30px 0 50px 0;
    background-color: $tan;

    @media #{$tablet-s} {
      padding: max(px-to-vw(88), 40px) 0;
    }

    .section-content {
      display: flex;
      flex-wrap: wrap;

      .left {
        width: 100%;
        margin-bottom: 47px;

        @media #{$tablet-s} {
          margin-bottom: 0;
          width: 55.7%;
        }

        .image-holder {
          position: relative;
          padding-top: 78.6%;
          background-color: $grey-blue;
          border-radius: max(px-to-vw(40), 20px);
          overflow: hidden;

          img {
            @include cropped-img();
          }
        }
      }

      .right {
        width: 100%;
        align-self: center;
        box-sizing: border-box;

        @media #{$tablet-s} {
          width: 44.3%;
          padding-left: px-to-vw(80);
        }

        @media #{$laptop-s} {
          padding-left: px-to-vw(181);
        }

        .small-title {
          @include small-title();
          margin-bottom: max(px-to-vw(8), 5px);
        }

        .title {
          @include title-3();
          color: $grey-blue;

          span {
            color: $orange;
          }
        }

        .description {
          @include small-editor-styles();
          @include text-2();
          margin-top: max(px-to-vw(27), 14px);
          line-height: 1.25em;
        }
      }
    }
  }

  .cards-section {
    background-color: $orange;
    padding: max(px-to-vw(87), 58px) 0;

    .section-header {
      margin-bottom: max(px-to-vw(82), 60px);

      .title {
        @include title-1();
        text-align: center;
        margin-bottom: px-to-vw(10);
      }

      .description {
        @include small-editor-styles();
        @include title-4();
        text-align: center;
        max-width: 330px;
        margin: auto;

        @media #{$tablet-s} {
          max-width: initial;
        }
      }
    }

    .cards-title {
      @include text-2();
      color: #fff;
      text-align: center;
      margin-bottom: max(px-to-vw(25), 15px);
    }
  }

  .slider-with-description-section {
    padding: max(px-to-vw(88), 58px) 0;
    background-color: $orange;

    .section-content {
      display: flex;
      flex-wrap: wrap;

      .left {
        width: 100%;
        align-self: center;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 51px;

        @media #{$tablet-s} {
          margin-bottom: 0;
          text-align: left;
          width: 53.2%;
          padding-right: px-to-vw(180);
        }

        @media #{$laptop-s} {
          padding-right: px-to-vw(297);
        }

        .small-title {
          @include small-title();
          color: #fff;
          margin-bottom: max(px-to-vw(8), 13px);
        }

        .title {
          @include title-3();

          span {
            color: $yellow;
          }
        }

        .description {
          @include small-editor-styles();
          @include text-2();
          color: #fff;
          max-width: 294px;
          margin: auto;
          margin-top: max(px-to-vw(27), 13px);

          @media #{$tablet-s} {
            max-width: initial;
          }
        }

        .btn {
          margin: max(px-to-vw(46), 25px) auto 0;

          @media #{$tablet-s} {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }

      .right {
        width: 100%;
        position: relative;

        @media #{$tablet-s} {
          width: 46.8%;
        }

        .swiper-images-pagination {
          position: absolute;
          bottom: auto;
          top: px-to-vw(27);
          left: auto;
          right: px-to-vw(30);
          z-index: 2;
          text-align: right;
          width: auto;
          display: none;

          @media #{$tablet-s} {
            display: inline-block;
          }

          .swiper-pagination-bullet {
            opacity: 0.3;
            width: max(px-to-vw(10), 10px);
            height: max(px-to-vw(10), 10px);
            margin: 0;
            margin-left: max(px-to-vw(7), 5px);
            background-color: #fff;

            &.swiper-pagination-bullet-active {
              opacity: 1;
            }
          }
        }

        .swiper-holder {
          position: relative;

          .swiper {
            border-radius: max(px-to-vw(40), 20px);
            overflow: hidden;

            .image-holder {
              position: relative;
              padding-top: 85.3%;
              background-color: $grey-blue;
              border-radius: max(px-to-vw(40), 20px);
              overflow: hidden;
              z-index: 1;

              @media #{$tablet-l} {
                padding-top: 77%;
              }

              img {
                @include cropped-img();
              }
            }
          }

          .swiper-images-button-prev,
          .swiper-images-button-next {
            position: absolute;
            bottom: 13px;
            z-index: 2;

            @media #{$tablet-s} {
              display: none;
            }
          }

          .swiper-images-button-prev {
            left: 13px;
          }

          .swiper-images-button-next {
            right: 13px;
          }
        }

        .swiper-controls {
          display: flex;
          //align-items: flex-end;
          justify-content: space-between;
          margin-top: max(px-to-vw(18), 20px);

          .swiper {
            text-align: center;
            width: 100%;

            @media #{$tablet-s} {
              width: auto;
              text-align: left;
            }

            .swiper-slide {
              .desc-title {
                @include text-2();
                font-family: $font-medium;
                color: #fff;
                margin-bottom: 10px;

                @media #{$tablet-s} {
                  margin-bottom: max(px-to-vw(4), 5px);
                }
              }

              .desc-text {
                @include small-editor-styles();
                @include text-1();
                color: #fff;
                line-height: 1.25em;
              }
            }
          }

          .swiper-navigation-buttons {
            display: none;
            margin-left: px-to-vw(50);
            flex-shrink: 0;

            @media #{$tablet-s} {
              display: flex;
            }

            .swiper-btn {
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  .image-with-banner-section {
    min-height: 736px;
    height: 51.2vw;
    position: relative;
    padding: max(px-to-vw(200), 35px) 0 max(px-to-vw(167), 35px);
    background-color: $grey-blue;
    display: flex;
    box-sizing: border-box;

    @media #{$tablet-s} {
      align-items: flex-end;
    }

    img {
      @include cropped-img();
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 25%);
    }

    .section-content {
      position: relative;
      z-index: 1;
      flex-wrap: wrap;
      margin: 0;
      display: flex;
      flex-direction: column;

      @media #{$tablet-s} {
        flex-direction: initial;
        align-items: center;
        flex-wrap: nowrap;
      }

      .title-holder {
        margin-top: auto;
        text-align: center;
        width: 100%;

        @media #{$tablet-s} {
          text-align: left;
          margin-top: 0;
          width: auto;
        }

        h2 {
          @include title-2();
          line-height: 0.9;
        }

        .btn {
          margin: auto;
          margin-top: max(#{px-to-vw(70)}, 30px);

          @media #{$tablet-s} {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }

      .banner {
        border-radius: max(px-to-vw(15), 10px);
        background-color: $orange;
        padding: max(px-to-vw(60), 30px);
        box-sizing: border-box;
        margin-left: auto;
        width: 100%;
        margin-top: auto;

        @media #{$tablet-s} {
          width: px-to-vw(467);
          min-width: 310px;
        }

        .banner-title {
          @include title-4();
          margin-bottom: max(px-to-vw(15), 10px);
        }

        .banner-text {
          @include small-editor-styles();
          @include text-2();
          color: #fff;
        }
      }
    }
  }

  .maps-with-description-section {
    padding: max(px-to-vw(88), 46px) 0;
    background-color: $tan;

    .section-content {
      display: flex;
      flex-wrap: wrap;

      .left {
        width: 100%;
        margin-bottom: 55px;

        @media #{$tablet-s} {
          width: 49.5%;
          margin-bottom: 0;
        }

        .image-holder {
          position: relative;
          padding-top: 95.9%;
          border-radius: max(#{px-to-vw(40)}, 20px);
          overflow: hidden;

          img {
            @include cropped-img();
          }
        }
      }

      .right {
        width: 100%;
        align-self: center;
        box-sizing: border-box;

        @media #{$tablet-s} {
          width: 50.5%;
          padding-left: px-to-vw(80);
        }

        @media #{$laptop-s} {
          padding-left: px-to-vw(181);
        }

        .small-title {
          @include small-title();
          margin-bottom: px-to-vw(8);
        }

        .title {
          @include title-3();
          color: $grey-blue;

          span {
            color: $orange;
          }
        }

        .description {
          @include small-editor-styles();
          @include text-2();
          margin-top: max(px-to-vw(27), 23px);
        }

        .btn {
          margin-top: max(px-to-vw(47), 27px);
        }
      }
    }
  }

  .posts-section {
    padding: max(px-to-vw(142), 60px) 0;
    background-color: $orange;

    .section-content {
      .small-title {
        @include small-title();
        color: #fff;
        margin-bottom: max(px-to-vw(5), 5px);
        text-align: center;
      }

      .title {
        @include title-3();
        text-align: center;
      }

      .button-holder {
        margin-top: max(px-to-vw(20), 15px);

        .btn {
          margin: auto;
        }
      }

      .swiper {
        margin-top: max(px-to-vw(93), 60px);

        .swiper-slide {
          height: auto;

          .template-part-resource {
            height: 100%;
          }
        }
      }
    }
  }

  .partners-section {
    padding: max(px-to-vw(122), 50px) 0;
    background-color: $grey-blue;

    .section-content {
      .section-header {
        display: flex;
        justify-content: center;
        padding-bottom: max(px-to-vw(30), 30px);
        border-bottom: solid 1px #fff;

        @media #{$tablet-s} {
          justify-content: space-between;
        }

        .info {
          h2 {
            @include title-4();
            text-align: center;

            @media #{$tablet-s} {
              text-align: left;
            }
          }
        }
      }

      p {
        @include small-editor-styles();
        @include text-2();
        margin-top: max(px-to-vw(32), 30px);
        color: #fff;
        text-align: center;

        @media #{$tablet-s} {
          text-align: left;
        }
      }

      .swiper {
        margin-top: max(px-to-vw(45), 40px);
        margin-bottom: -20px;

        @media #{$tablet-s} {
          margin-bottom: 0;
        }

        .swiper-slide {
          text-align: center;
          box-sizing: border-box;
          align-items: center;
          justify-content: center;
          height: auto;
          display: flex;

          @media #{$tablet-s} {
            padding-bottom: 0;
          }

          img {
            max-width: 100%;
            max-height: 50px;
            width: auto;
            height: auto;

            @media #{$laptop-s} {
              max-height: px-to-vw(90);
            }
          }
        }
      }

      .swiper-navigation-buttons {
        .swiper-btn {
          margin-top: max(px-to-vw(60), 50px);
        }
      }
    }
  }

  .tweets-section {
    padding: max(px-to-vw(142), 60px) 0;
    background-color: #b2cad9;

    .section-content {
      .small-title {
        @include small-title();
        margin-bottom: max(px-to-vw(5), 5px);
        text-align: center;
      }

      .title {
        @include title-3();
        color: $grey-blue;
        text-align: center;
      }

      .tweets {
        display: none;
      }

      .splide {
        margin-top: max(px-to-vw(93), 30px);
        width: calc(100% + 20px);
        margin-left: px-to-vw(-10);

        @media #{$tablet-s} {
          width: calc(100% + px-to-vw(34));
          margin-left: px-to-vw(-17);
        }

        .splide__slide {
          padding: 0 10px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;

          @media #{$tablet-s} {
            padding: 0 px-to-vw(17);
          }

          &:nth-child(4n + 1) {
            .ctf-item {
              background-color: #fff;

              * {
                color: $grey-blue !important;
              }
            }
          }

          &:nth-child(4n + 2) {
            .ctf-item {
              background-color: $yellow;

              * {
                color: $grey-blue !important;
              }
            }
          }

          &:nth-child(4n + 3) {
            .ctf-item {
              background-color: $orange;

              * {
                color: #fff !important;
              }
            }
          }

          &:nth-child(4n + 4) {
            .ctf-item {
              background-color: $grey-blue;

              * {
                color: #fff !important;
              }
            }
          }

          // Plugin cloned tweet structure
          .ctf-item {
            border-radius: max(#{px-to-vw(20)}, 15px);
            padding: max(#{px-to-vw(40)}, 20px) max(#{px-to-vw(40)}, 15px);
            position: relative;
            height: 100%;

            a {
              pointer-events: none;
            }

            * {
              @include text-1();
            }

            .ctf-context {
              display: none;
            }

            .ctf-author-box {
              display: block;
              position: relative;

              .ctf-corner-logo {
                position: absolute;
                top: px-to-vw(-20);
                right: px-to-vw(-20);
                width: max(#{px-to-vw(22)}, 17px);
                display: none;

                @media #{$laptop-s} {
                  display: block;
                }

                svg {
                  * {
                    color: $sky-blue !important;
                  }
                }
              }

              .ctf-author-box-link {
                .ctf-author-avatar {
                  border-radius: max(#{px-to-vw(40)}, 35px);
                  overflow: hidden;
                  display: block;
                  position: absolute;
                  top: 0.1vw;
                  left: 0;
                  width: max(#{px-to-vw(40)}, 35px);
                  height: max(#{px-to-vw(40)}, 35px);
                  margin-right: px-to-vw(10);

                  img {
                    @include cropped-img();
                  }
                  display: none;
                }
              }

              .ctf-author-name,
              .ctf-author-screenname,
              .ctf-screename-sep,
              .ctf-tweet-meta * {
                font-size: max(#{px-to-vw(14)}, 12px);
              }

              .ctf-author-name {
                display: block;
                font-family: $font-2-medium;
                padding-left: 0;
              }

              .ctf-author-screenname {
                display: inline-block;
                font-family: $font-2-medium;
                padding-left: 0;
              }

              .ctf-screename-sep {
                display: inline-block;
                font-family: $font-2-medium;
              }

              .ctf-tweet-meta {
                display: inline-block;

                * {
                  font-family: $font-2-medium;
                }
              }
            }

            .ctf-tweet-content {
              margin-top: max(#{px-to-vw(30)}, 20px);

              .ctf-tweet-text-media-wrap,
              .ctf-tweet-media {
                display: none;
              }
            }

            .ctf-tweet-actions {
              display: none;
            }
          }
          // Plugin cloned tweet structure END
        }
      }
    }
  }
}
