.template-contact-page-container {
    background-color: $orange;
    padding-top: max(#{px-to-vw(225)}, 132px);
    padding-bottom: max(#{px-to-vw(85)}, 36px);

    .hero-section {
        h1 {
            @include title-2();
            text-align: center;
            padding-bottom: max(#{px-to-vw(76)}, 60px);
        }

        .contact-info-boxes {
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            max-width: max(px-to-vw(1036), 700px);

            .box-holder {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 10px;

                @media #{$tablet-s} {
                    width: 50%;
                    margin-bottom: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &:nth-child(odd) {
                    @media #{$tablet-s} {
                        padding-right: px-to-vw(17);
                    }
                }

                &:nth-child(even) {
                    @media #{$tablet-s} {
                        padding-left: px-to-vw(17);
                    }
                }

                .box {
                    background-color: $grey-blue;
                    border-radius: max(#{px-to-vw(15)}, 10px);
                    box-sizing: border-box;
                    text-align: center;
                    padding: max(#{px-to-vw(50)}, 20px) max(#{px-to-vw(50)}, 25px);

                    p {
                        @include text-2();
                        color: #fff;
                    }

                    a {
                        color: inherit;
                        @include transition();

                        &:hover {
                            color: $yellow;
                        }
                    }

                    .box-title {
                        font-family: $font-medium;
                        margin-bottom: max(#{px-to-vw(9)}, 9px);
                    }
                }
            }
        }
    }

    .form-section {
        margin-top: max(#{px-to-vw(34)}, 34px);

        .form-container {
            padding: max(#{px-to-vw(62), 43px}) max(#{px-to-vw(62), 25px}) max(#{px-to-vw(62), 33px});
            box-sizing: border-box;
            max-width: max(px-to-vw(1036), 700px);
            margin: auto;
            background-color: #fff;
            border-radius: max(#{px-to-vw(15)}, 15px);

            .form-title {
                @include title-4();
                color: $grey-blue;
                text-align: center;
                margin-bottom: max(#{px-to-vw(20)}, 9px);
            }

            .form-description {
                @include small-editor-styles();
                @include text-1();
                text-align: center;
                max-width: max(#{px-to-vw(590)}, 400px);
                margin: auto;
            }

            form {
                margin-top: max(px-to-vw(77), 45px);
            }
        }
    }
}