.template-part-cards {
    background-color: $grey-blue;
    padding-top: max(#{px-to-vw(135)}, 50px);
    padding-bottom: max(#{px-to-vw(135)}, 50px);

    h2 {
        text-align: center;
        color: #fff;
        font-size: max(#{px-to-vw(74)}, 36px);
        margin-bottom: max(#{px-to-vw(80)}, 40px);
        font-family: $font-medium;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + #{px-to-vw(36)});
        margin-left: px-to-vw(-18);
        margin-bottom: -20px;

        @media #{$tablet-l} {
            margin-bottom: px-to-vw(-36);
        }

        &.one-card {
            .card-holder {
                width: 100%;
            }
        }

        .card-holder {
            width: 100%;
            padding: 0 px-to-vw(18);
            box-sizing: border-box;
            margin-bottom: 20px;

            @media #{$tablet-l} {
                margin-bottom: px-to-vw(36);
                width: 50%;
            }

            .card {
                @include transition();
                background-color: #fff;
                padding: max(#{px-to-vw(45)}, 30px) max(#{px-to-vw(60)}, 25px);
                border-radius: max(#{px-to-vw(15)}, 10px);
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                height: 100%;

                &:hover {
                    background-color: $yellow;

                    .swiper-btn {
                        background-color: #fff;

                        svg {
                            path,
                            line {
                                stroke: $grey-blue;
                            }
                        }
                    }
                }

                .card-header {
                    display: flex;
                    align-items: center;
                    padding-bottom: max(#{px-to-vw(37)}, 15px);
                    border-bottom: 1px solid rgba(0, 0, 0, .2);

                    p {
                        font-family: $font-regular;
                        font-size: max(#{px-to-vw(34)}, 24px);
                        color: $grey-blue;

                        &.bold {
                            font-family: $font-medium;
                            margin-right: px-to-vw(10);
                        }
                    }
                }

                .card-desc {
                    margin-top: max(#{px-to-vw(55)}, 15px);
                    @include small-editor-styles();

                    p {
                        font-family: $font-regular;
                        font-size: max(#{px-to-vw(24)}, 18px);
                        color: $grey-blue;
                        line-height: 1.2em;
                    }
                }

                .swiper-btn {
                    margin-left: auto;
                }
            }
        }
    }
}