.template-part-post {
    background-color: #fff;
    overflow: hidden;
    border-radius: max(#{px-to-vw(15)}, 10px);
    height: 100%;
    display: flex;
    flex-direction: column;

    .post-image-holder {
        padding-top: 60%;
        background-color: $orange;
        position: relative;
        overflow: hidden;

        &:hover {
            img {
                transform: scale(1.03);
            }
        }

        img {
            @include transition();
            @include cropped-img();
        }
    }

    .post-info {
        padding: max(#{px-to-vw(30)}, 22px) max(#{px-to-vw(30)}, 18px) max(#{px-to-vw(30)}, 13px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%;

        .post-title {
            @include text-2();
            font-family: $font-medium;
            padding-right: px-to-vw(97);
            box-sizing: border-box;
            margin-bottom: max(px-to-vw(65), 40px);

            a {
                @include transition();
                color: inherit;
            }
        }

        .post-categories-holder {
            margin-top: auto;
            display: flex;
            align-items: center;

            @media #{$tablet-s} {
                justify-content: space-between;
            }

            .btn-icon {
                display: none;

                @media #{$tablet-s} {
                    display: inline-flex;
                }
            }

            .post-categories {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                margin-right: min(#{px-to-vw(-7)}, -7px);
                margin-bottom: min(#{px-to-vw(-7)}, -7px);
            }
        }
    }
}