#site-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    @include transition(all, 200ms);

    &:not(.page-has-full-width-hero-image):not(.scrolled) {
        .header-content {
            nav {
                ul {
                    li {
                        a {
                            &:hover {
                                color: $yellow;
                            }
                        }
                    }
                }
            }
        }
    }

    &.scrolled {
        background-color: #fff;

        .header-content {
            nav {
                ul {
                    li {
                        a {
                            color: $grey-blue;
                        }
                    }
                }
            }

            .buttons {
                .button-holder {
                    &.button-2-holder {
                        .btn {
                            background-color: $grey-blue;
                            color: #fff;

                            &:hover {
                                background-color: $yellow;
                                color: $grey-blue;
                            }
                        }
                    }

                    &.button-1-holder {
                        .btn {
                            background-color: $orange;
                            color: #fff;

                            &:hover {
                                background-color: $yellow;
                                color: $grey-blue;
                            }
                        }
                    }
                }

                .menu-opener {
                    background-color: $orange;

                    span {
                        background-color: #fff;
                    }
                }
            }
        }
    }

    .header-content {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;

        @media #{$tablet-s} {
            padding: 25px 30px;
        }

        @media #{$tablet-l} {
            padding: px-to-vw(25) px-to-vw(50);
        }

        .logo-holder {
            position: relative;
            display: inline-block;

            img {
                @include transition(all, 200ms);
                width: max(px-to-vw(115), 75px);

                &.logo-dark {
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                }

                &.visible {
                    opacity: 1;
                }
            }
        }

        nav {
            display: flex;
            align-items: center;
            margin-left: auto;

            @media #{$tablet-xl} {
                margin-left: 0;
            }

            @media #{$laptop-s} {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

            ul {
                margin-right: px-to-vw(30);
                display: none;

                @media #{$tablet-xl} {
                    display: block;
                }

                li {
                    display: inline-block;
                    margin-right: px-to-vw(45);

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        font-size: max(px-to-vw(16), 14px);
                        color: #fff;
                        font-family: $font-2-medium;
                        @include transition(all, 200ms);

                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;

            .button-holder {
                @media #{$tablet-xl} {
                    margin-left: px-to-vw(15);
                }

                .btn {
                    width: max(px-to-vw(210), 145px);
                }

                &.button-2-holder {
                    display: none;

                    @media #{$tablet-xl} {
                        display: block;
                    }

                    .btn {
                        background-color: #E04B20;
                        color: #fff;

                        &:hover {
                            background-color: $yellow;
                            color: $grey-blue;
                        }
                    }
                }
            }

            .menu-opener {
                width: 40px;
                height: 40px;
                background-color: #fff;
                border-radius: 100px;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @include transition(all, 200ms);

                span {
                    width: 15px;
                    height: 1px;
                    background-color: $grey-blue;
                    display: inline-block;
                    margin-bottom: 5px;
                    position: relative;
                    @include transition(all, 200ms);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &.active {
                    span {
                        &:nth-of-type(1) {
                            transform: rotate(45deg);
                            top: 5px;
                        }

                        &:nth-of-type(2) {
                            transform: rotate(-45deg);
                            top: -1px;
                        }

                        &:nth-of-type(3) {
                            display: none;
                        }
                    }
                }

                @media #{$tablet-xl} {
                    display: none;
                }
            }
        }
    }
}

.mobile-nav {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $orange;
    z-index: 9;
    display: none;

    .mobile-nav-content {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: auto;
        padding: 100px 0;
        box-sizing: border-box;

        .navigation {
            margin: auto;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                li {
                    margin-bottom: 20px;
                    text-align: center;

                    &.current-menu-item {
                        a {
                            color: $yellow;
                        }
                    }

                    a {
                        font-size: px-to-vw(50, 414);
                        color: #fff;
                        font-family: $font-medium;
                        text-align: center;

                        @media only screen and (min-width: 450px) {
                            font-size: 50px;
                        }
                    }
                }
            }

            .buttons {
                padding-top: 30px;
                margin-top: 30px;
                border-top: solid 1px #fff;
            }


            .buttons {
                display: flex;
                align-items: center;

                .button-holder {
                    @media #{$tablet-xl} {
                        margin-left: px-to-vw(15);
                    }

                    .btn {
                        width: max(px-to-vw(210), 145px);
                    }

                    &.button-2-holder {
                        display: none;

                        @media #{$tablet-xl} {
                            display: block;
                        }

                        .btn {
                            background-color: #E04B20;
                            color: #fff;

                            &:hover {
                                background-color: $yellow;
                                color: $grey-blue;
                            }
                        }
                    }
                }
            }
        }

        .titter-cta-holder {
            margin-top: auto;
            position: relative;
            top: 80px;

            .twitter-cta {
                display: flex;
                align-items: center;
                font-size: 14px;
                color: #fff;
                font-family: $font-2-book;

                img {
                    margin-left: 5px;
                }
            }
        }
    }
}