.single-posts-page-container {
    overflow: hidden;

    .hero-section {
        background-color: $orange;
        padding-top: max(#{px-to-vw(230)}, 100px);
        padding-bottom: max(#{px-to-vw(36)}, 30px);

        .section-content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .left {
                width: 100%;
                margin-bottom: 20px;

                @media #{$tablet-s} {
                    width: 58%;
                    margin-bottom: 0;
                }

                .image-holder {
                    padding-top: 71%;
                    position: relative;
                    border-radius: max(#{px-to-vw(40)}, 20px);
                    overflow: hidden;
                    background-color: $yellow;

                    img {
                        @include cropped-img();
                    }
                }
            }

            .right {
                width: 100%;
                box-sizing: border-box;

                @media #{$tablet-s} {
                    width: 42%;
                    padding-left: px-to-vw(70);
                }

                @media #{$laptop-s} {
                    padding-left: px-to-vw(143);
                }


                h1 {
                    @include title-3();
                }
            }

            .post-info {
                display: flex;
                flex-wrap: wrap;
                margin-top: max(#{px-to-vw(80)}, 35px);
                width: 100%;

                @media #{$tablet-s} {
                    width: calc(100% + #{px-to-vw(20)});
                    margin-left: px-to-vw(-10);
                }

                .info-box-holder {
                    box-sizing: border-box;
                    width: 100%;
                    margin-bottom: 10px;

                    @media #{$tablet-s} {
                        padding: 0 px-to-vw(10);
                        width: 33.333%;
                        margin-bottom: 0;
                    }

                    .info-box {
                        background-color: $yellow;
                        border-radius: max(#{px-to-vw(15)}, 10px);
                        padding: max(#{px-to-vw(25)}, 10px) max(#{px-to-vw(40)}, 25px);
                        box-sizing: border-box;

                        .box-title {
                            @include text-2();
                            font-family: $font-medium;
                            margin-bottom: max(#{px-to-vw(6)}, 3px);
                        }

                        .box-description {
                            @include text-1();
                        }
                    }
                }
            }
        }
    }

    .editor-section {
        padding: max(#{px-to-vw(123)}, 45px) 0 max(#{px-to-vw(143)}, 55px);

        .section-content {
            max-width: max(#{px-to-vw(1128)}, 900px);
            margin: auto;

            .text-editor {
                hr {
                    border-color: $grey-blue;
                    margin-bottom: max(#{px-to-vw(20), 17px});
                }

                h1 {
                    display: none;
                }

                h2 {
                    @include title-4();
                    color: $grey-blue;
                    margin-bottom: max(#{px-to-vw(20), 17px});
                }

                h3, h4, h5, h6 {
                    font-family: $font-medium;
                    color: $grey-blue;
                    line-height: 1.2em;
                    margin-bottom: max(#{px-to-vw(20), 17px});
                }

                h3 {
                    font-size: max(px-to-vw(30), 22px);
                }

                h4 {
                    font-size: max(px-to-vw(28), 20px);
                }

                h5 {
                    font-size: max(px-to-vw(26), 18px);
                }

                h6 {
                    font-size: max(px-to-vw(24), 16px);
                }

                p {
                    @include text-2();
                    margin-bottom: max(#{px-to-vw(20), 17px});

                    strong {
                        font-weight: normal;
                        font-family: $font-medium;
                    }
                }

                a {
                    @include transition();
                    color: $orange;
                    //text-decoration: underline;

                    &:hover {
                        color: $yellow;
                    }
                }

                li {
                    @include text-2();
                }

                ul,
                ol {
                    margin-bottom: max(#{px-to-vw(20), 17px});

                    li {
                        margin-bottom: max(#{px-to-vw(20), 17px});

                        ul,
                        ol {
                            margin-top: max(#{px-to-vw(20), 17px});
                        }
                    }
                }

                ul {
                    li {
                        position: relative;
                        padding-left: max(#{px-to-vw(22)}, 15px);

                        &:before {
                            content: "";
                            display: block;
                            width: max(#{px-to-vw(6)}, 6px);
                            height: max(#{px-to-vw(6)}, 6px);
                            border-radius: max(#{px-to-vw(6)}, 6px);
                            background-color: $orange;
                            position: absolute;
                            left: 0;
                            top: max(#{px-to-vw(12)}, 9px);
                        }
                    }
                }

                ol {
                    counter-reset: item;

                    li {
                        position: relative;
                        padding-left: max(#{px-to-vw(22)}, 15px);

                        &:before {
                            @include text-1();
                            font-family: $font-medium;
                            content: counter(item) ")";
                            display: block;
                            counter-increment: item;
                            position: absolute;
                            left: 0;
                            top: max(#{px-to-vw(5)}, 2px);
                            color: $orange;
                        }
                    }
                }

                img {
                    width: 100%;
                    border-radius: max(#{px-to-vw(40)}, 20px);
                }

                blockquote {
                    background-color: $yellow;
                    padding: max(#{px-to-vw(26)}, 15px) max(#{px-to-vw(50)}, 23px);
                    border-radius: max(#{px-to-vw(25)}, 10px);
                    margin-bottom: max(#{px-to-vw(20), 17px});

                    * {
                        @include title-4();
                        color: $grey-blue;
                        margin-bottom: 0;
                    }
                }
            }

            .template-part-share-icons {
                border-top: solid 1px $grey-blue;
                margin-top: max(#{px-to-vw(40)}, 22px);
                padding-top: max(#{px-to-vw(65)}, 40px);
                display: flex;

                @media #{$tablet-s} {
                    justify-content: flex-end;
                }
            }
        }
    }

    .related-posts-section {
        background-color: $sky-blue;
        padding: max(#{px-to-vw(130)}, 50px) 0 max(#{px-to-vw(150)}, 50px);

        h2 {
            @include title-3();
            color: $grey-blue;
            text-align: center;
            margin-bottom: max(#{px-to-vw(43)}, 30px);
        }

        .swiper {
            &.size-1 {
                .swiper-wrapper {
                    // Follow js swiper breakpoint to avoid styles problems
                    @media #{$tablet-s} {
                        justify-content: center;
                    }
                }
            }

            &.size-2 {
                .swiper-wrapper {
                    // Follow js swiper breakpoint to avoid styles problems
                    @media #{$laptop-s} {
                        justify-content: center;
                    }
                }
            }

            .swiper-wrapper {
                .swiper-slide {
                    height: auto;
                }
            }
        }
    }
}