.template-part-resource {
    background-color: #fff;
    border-radius: max(px-to-vw(15), 10px);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &:hover {
        img {
            transform: scale(1.05);
        }
    }

    .image-holder {
        position: relative;
        padding-top: 60%;
        overflow: hidden;
        background-color: $grey-blue;

        img {
            @include cropped-img();
            @include transition();
        }
    }

    .post-info {
        padding: max(px-to-vw(34), 20px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%;

        .post-info-header {
            margin-bottom: max(px-to-vw(35), 30px);

            .post-title {
                @include title-4();
                color: $grey-blue;

                @media #{$tablet-s} {
                    margin-bottom: max(px-to-vw(20), 10px);
                }
            }

            .post-description {
                @include text-1();
                display: none;

                @media #{$tablet-s} {
                    display: block;
                }
            }
        }

        .post-categories-holder {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn-icon {
                display: none;

                @media #{$tablet-l} {
                    display: flex;
                }
            }

            .swiper-btn {
                transform: rotate(90deg);

                @media #{$tablet-l} {
                    display: none;
                }
            }

            .post-categories {
                justify-content: flex-end;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: min(#{px-to-vw(-7)}, -7px);
            }
        }
    }
}